<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suites" thread-count="3" parallel="tests">
    <listeners>
        <listener class-name="com.github.Chestaci.listeners.TestListener"/>
        <listener class-name="com.github.Chestaci.listeners.AnnotationTransformer"/>
    </listeners>
    <parameter name="remote" value="true"/>
    <parameter name="browserName" value="opera"/>
    <test name="way2automationTests"  >
        <packages>
            <package name="com.github.Chestaci.tests.way2automation_test"/>
        </packages>
    </test>
    <test name="sqlTests">
        <packages>
            <package name="com.github.Chestaci.tests.sql_test"/>
        </packages>
    </test>
    <test name="httpwatchTests">
        <packages>
            <package name="com.github.Chestaci.tests.httpwatch_test"/>
        </packages>
    </test>
</suite>